<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-6">

				</div>
				<div class="col-6 text-right">
					<a href="/">Accueil</a>&nbsp;|&nbsp;<a href="/login">Déconnexion</a>
				</div>
			</div>
			<div class="row"><h2>Liste des utilisateurs</h2></div>
			<div class="row">
				<a href="/user/add" class="btn btn-primary btn-sm">Ajouter un nouveau utilisateur</a>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom complet</th>
							<th>Nom d'utilisateur</th>
							<th>Role</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td style="width: 10%" th:text="${user.id}"></td>
							<td th:text="${user.fullname}"></td>
							<td th:text="${user.username}"></td>
							<td style="width: 10%" th:text="${user.role}"></td>
							<td style="width: 20%" class="text-center">
								<a th:href="@{/user/update/{id}(id=${user.id})}">Modifier</a>&nbsp;|&nbsp;
								<a th:href="@{/user/delete/{id}(id=${user.id})}">Supprimer</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
