<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Notes des patients</title>
      <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
      <link rel="stylesheet" href="../../css/custom.css">
   </head>
   <body>
      <div class="container mt-4">
         <nav class="navbar navbar-light bg-light justify-content-between">
            <img src="/images/mediscreen-logo.png" width="240" height="60" alt="Site logo">
            <form class="form-inline">
               <!-- Search form -->
               <input class="form-control mr-sm-2" type="search" placeholder="Recherche..." aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="button"><i class="fas fa-search">🔎︎</i></button>
            </form>
         </nav>
      </div>
      <!-- Navigation -->
      <div th:replace="fragments/general.html :: navigation"></div>
      <div class="container">
         <br/><br/>
         <div class="row mt-4">
            <div class="col-6">
            </div>
            <div class="col-6 text-right">
               <a href="/api/patients"><button type="button" class="btn btn-primary bg-warning btn-sm mr-2 mb-2 font-weight-bold text-dark btn btn-outline-light"> ☛ Retour à la liste des patients</button></a>
            </div>
         </div>
         <div class="row">
            <h2 class="text-info">Les notes du patient</h2>
         </div>
         <br/><br/>
         <div class="row">
            <a th:href="@{/api/notes/{id}(id=*{patientId})}" class="btn btn-primary btn-lg bg-info font-weight-bold "> + Ajouter des nouvelles notes</a>
            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th>Nom de famille</th>
                     <th>Prénom</th>
                     <th>Date</th>
                     <th>Note</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr th:each="notes : ${notes}">
                     <td style="width: 10%"  th:text="${notes.patientLastName}"></td>
                     <td style="width: 10%"  th:text="${notes.patientFirstName}"></td>
                     <td style="width: 10%"  th:text="${notes.dateNote}"></td>
                     <td style="width: 50%" th:text="${notes.note}"></td>
                     <td style="width: 20%" class="text-center">
                        <div class="btn-toolbar">
                           <a th:href="@{/api/note/{id}(id=${notes.id})}"><button type="button" class="btn btn-primary bg-warning btn-sm mr-2 mb-2 font-weight-bold text-dark btn btn-outline-light">Modifier</button></a>
                           <a th:href="@{/api/notes/note/{id}/{patientId}(id=${notes.id}, patientId=${patientId})}"><button type="button" class="btn btn-primary btn-sm bg-danger mr-2 mb-2 font-weight-bold btn btn-outline-light">Supprimer</button></a>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="container mt-4 md-4">
         <!-- Footer -->
         <div th:replace="fragments/general.html :: footer"></div>
         <script src="/webjars/jquery/3.6.0/jquery.slim.min.js"></script>
         <script type="text/javascript"
            src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
      </div>
   </body>
</html>

