
.registration {
    margin-top: 10px;
    color: #17a2b8;
}
/*************************************** Media *************************************
@media (min-width: 600px) {
.github {
    float: left;
    width: 20%;
    margin-left: 110px;
}

}*/
