

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Mediscreen</title>
      <link rel="stylesheet" href="../../css/custom.css">
      <link rel="stylesheet" href="../../css/bootstrap.min.css">
      <link rel="icon" type="image/png" href="../../images/icon.png" />
   </head>
   <body>
      <div class="container mt-4">
         <nav class="navbar navbar-light bg-light justify-content-between">
            <img src="/images/mediscreen-logo.png" width="240" height="60" alt="Site logo">
            <form class="form-inline">
               <!-- Search form -->
               <input class="form-control mr-sm-2" type="search" placeholder="Recherche..." aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="button"><i class="fas fa-search">🔎︎</i></button>
            </form>
         </nav>
      </div>
      <!-- Navigation -->
      <div th:replace="fragments/general.html :: navigation"></div>
      <div class="container">
         <div class="row">
            <div class="col-12 col-md-12 order-lg-2 col-lg-9 px-0">
               <img th:src="@{/images/home.png}" class="images-fluid"
                  alt="MediScreen image">
            </div>
            <div class="col-12 col-md-12 order-lg-1 col-lg-3 px-1 pt-2 text-left ">
               <p>
               <h2 class="text-primary text-bold font-weight-bold text-info pt-4">Nous sommes attentifs.</h2>
               <br>
               Mediscreen est spécialisé dans la détection des facteurs de risque de maladie.
               Nos dépistages utilisent une analyse prévisionnelle des publics de patients à
               un prix abordable.
               </p>
               <ul>
                  <li>Vous êtes une clinique ou un cabinet de petite taille ou rural ?</li>
                  <li>Avez-vous besoin d'un dépistage des maladies cardiaques ou des symptômes de l'hypertension ?</li>
               </ul>
               <h5 class="text-primary text-bold font-weight-bold text-info pt-4">
                  Nous avons la solution pour vous.</h5>
            </div>
         </div>
      </div>
      <!-- Footer -->
      <div th:replace="fragments/general.html :: footer"></div>
   </body>
</html>

